<% html_title t('issue_prioritization') %>

<div class="box tabular">
  <p>
    <%= label_tag :fixed_version_id %>
    <%= select_tag :fixed_version_id,
      options_from_collection_for_select(@versions, :id, :name, params[:fixed_version_id]),
      :prompt => t('unversioned') %>
  </p>
  <p>
    <%= label_tag :closed_issues %>
    <%= check_box_tag :closed_issues, true, false %>
  </p>
</div>

<ul id="issues-prioritizable" class="prioritize-list">
  <%= render 'issues_list', :collection => @issues %>
</ul>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'prioritize', :plugin => 'redmine_prioritize' %>
  <%= javascript_include_tag 'prioritize', :plugin => 'redmine_prioritize' %>
<% end %>
