<div class="box tabular">
  <p>
    <%= label_tag :fixed_version_id %>
    <%= select_tag :fixed_version_id,
      options_from_collection_for_select(@versions, :id, :name, params[:fixed_version_id]),
      :prompt => 'Unversioned' %>
  </p>
</div>

<ul id="issues-prioritizable" class="prioritize-list">
  <%= render 'issues_list', :collection => @issues %>
</ul>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'prioritize', :plugin => 'prioritize' %>
  <%= javascript_include_tag 'prioritize', :plugin => 'prioritize' %>
<% end %>
